body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #fcfbfb88;
}


/* header */
header{
    background-color: #f6d5bd;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

header h1{
    color: white;
    font-size: 50px;
}

header img{
    border-radius: 200px;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 10px solid #f8f2e3;
}


/* heading */
h1, h2{
    font-family: 'Catamaran', sans-serif;
}

h2{
    font-size: 30px;
    color: #ef7c83;
}


/* main */
main img{
    align-content: center;
    max-width: 100%;
}
main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

img.big-cato{
    border: 3px solid #ffffff;
}


/* para */
p.caption{
    color: #939292;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 40px;
    font-style: italic;
}


/* anchor */
a{
    color: #f27078;
}

a:hover{
    color: #a32e36;
}


/* footer css */
footer{
    background-color: #f6d5bd;
    text-align: center;
    padding: 2px;
}

footer a{
    color: #ef7c83;
}

footer a:hover{
    color: #ef7c83;
    opacity: .8;
    background-color: transparent;
}